ul, h1, h2, .catnames {
  font-family: Comfortaa, sans-serif;
}

header, footer {
  background-color: #99e6ff;
}

.logo {
  max-width: 4em;
}

.logo:hover {
  color: black;
}

.buttons {
  color: black;
}

.hovers:hover {
  background-color: #4d99ff;
}

.footlinks:hover {
  color: #4d99ff;
}

.btn {
  color: #000;
  background-color: #99e6ff;
  border-radius: 7px;
  border: none;
  font-family: Comfortaa, sans-serif;
}

.btn:hover {
  background-color: #4d99ff;
  color: #000;
}
