ul, h1, h2, .catnames {
  font-family: 'Comfortaa', cursive;
}

header, footer {
  background-color: #99E6FF;
}

.logo {
  max-width: 4em;
}

.logo:hover {
  color: black;
}

.buttons {
  color: black;
}

.hovers:hover {
  background-color: #4D99FF;
}

.footlinks:hover {
  color: #4D99FF;
}

.btn {
  color: #000;
  background-color: #99E6FF;
  border-radius: 7px;
  border: none;
  font-family: 'Comfortaa', cursive;
}

.btn:hover {
  background-color: #4D99FF;
  color: #000;
}
